$color:#1fab89,#62d2a2,#9df3c4,#d7fbe8;
/*nav fix #62d2a2 + fff*/
#loading{
    position: fixed;
    background:#fff;
    z-index: 1031;
    width:100vw;
    height: 100vh;  
    div{
        width: 10px;
        height: 10px;
        position: absolute;
        background:nth($color,3);
        animation:round_cc 0.7s linear infinite;
    }
    div:nth-child(1){
        top:calc(50% - 20px);
        left:calc(50% - 20px);
    }
    div:nth-child(2){
        top:calc(50% - 20px);
        left:calc(50% - 5px);
        animation-delay: -0.6s;
    }
    div:nth-child(3){
        top:calc(50% - 20px);
        left:calc(50% + 10px);
        animation-delay: -1.0s;
    }
    div:nth-child(4){
        top:calc(50% - 5px);
        left:calc(50% + 10px);
        animation-delay: -1.5s;
    }
    div:nth-child(5){
        top:calc(50% + 10px);
        left:calc(50% + 10px);
        animation-delay: -2s;
    }
    div:nth-child(6){
        top:calc(50% + 10px);
        left:calc(50% - 5px);
        animation-delay: -2.5s;
    }
    div:nth-child(7){
        top:calc(50% + 10px);
        left:calc(50% - 20px);
        animation-delay: -3s;
    }
    div:nth-child(8){
        top:calc(50% - 5px);
        left:calc(50% - 20px);
        animation-delay: -3.5s;
    }
}

@keyframes round_cc{
    0%{
        background: nth($color,3);
    }
    100%{
        background:nth($color,1);
    }
}
    
nav{
    background: rgba(255,255,255,0.8)
}
#banner_spot{
    div{
        margin: 0 5px;
        width:15px;
        height:15px;
        background-color:#000;
        border:#000 1px solid;
        border-radius: 50%;
        cursor: pointer;
    }
}

#banner{
    height:450px;
    list-style: none;
    li{
        width:100%;
        position: absolute;
        margin-left: 100%;
        display: none;
        background-position: center;
        background-size: cover;
        a{
            display: block;
            width:100%;
            height:100%;
        }
        h4{
            position: absolute;
            top:45%;
            left:50%;
        }
        div{
            width:60%;
            height:85%;
            background: rgba(0,0,0,0.5)
        }
    }
    .active{
        position: relative;
        margin:0;
        display: block;
    }
    .red{
        background-image: url(../imgs/1.jpg)
    }
    .blue{
        background-image: url(../imgs/2.jpg)
    }
    .grey{
        background-image: url(../imgs/3.jpg)
    }
}
.card-body{
    p{
        margin-bottom: 50px;
    }
    a{
        position: absolute;
        bottom:20px;
        left:calc(50% - 44px);
    }
}
.btn-success{
    background-color: nth($color,1);
    &:hover{
        background-color: nth($color,2);
        border-color: nth($color,2);
    }
}
#about{
    padding-top:100px;
    padding-bottom: 50px;
    background-color: #9df3c4;
    .fab{
        font-size:7em;
        color:nth($color,1)
    }
}

.seperate_line{
    content: "";
    display: block;
    height: 3px;
    width: 150px;
    background: nth($color,1);
    border-radius: 10px;
}

#special{
    background:#d7fbe8;
}
.special_img{
    img{
        width:100%;
    }
}
.gotop{
    display: none;
    position: fixed;
    bottom:50px;
    right:50px;
    width:50px;
    height:50px;
    border-radius: 50%;
    border:#000 1px solid;
    background-color: nth($color,1);
    z-index: 9999;
    color:nth($color, 4 );
    transition: 0.2s;
    cursor:pointer;
    .fas{
        font-size:2em;
        
    }
    &:hover{
        background-color: nth($color,2);
        padding-bottom: 5px;
    }
}
#why{
    padding-top: 100px;
    padding-bottom: 50px;
    .why_point{
        transition: 0.3s;
        &:hover{
            box-shadow:0.8px 0.8px 2px 2px #62d2a2 ;
            .why_icon{
                font-size:4.5em;
            }
        }
    }
    .why_icon{
        font-size: 4em;
        padding:20px;
        color:nth($color,1); 
        transition: 0.8s;       
    }
}
#contact{
    background-image: url("../imgs/c_b.jpg");
    background-size: cover;
    background-position: center;
    padding-top:100px;
    padding-bottom:50px;
    #contact_form{
        color:#fff;
        padding-bottom: 20px;
        background: rgba(0,0,0,0.4);
    }
}